html, body {
	padding: 0px;
	margin: 0px;
	font-family: 'Roboto', sans-serif;
	color: white;
}

iframe {
	margin-top: 10px;
	width: 56vh;
	height: 31.5vh;
	position: relative;
	z-index: 2;
	float: left;	
}

a {
	color: rgba(255,255,255,0.75);
}

.justify {
    text-align: justify;
    text-justify: inter-word;	
}

.z-depth-1 {
	box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.2);
}

.z-depth-2 {
	box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.3);
}

section {
	text-align: center;
	/*height: 100vh;*/
	margin: 0px;
	min-height: 200px;
}

.section-title {
	height: 10%;
	text-align: center;
	font-size: 300%;
	padding-top: 5%;
	font-family: 'Roboto', sans-serif;
	font-family: 'Lato', sans-serif;
	text-align: right;
	padding-right: 20%;	
}

.section-title span {
	margin-top: 10%;
}

#profile, 
#skills,
#links {
	background-color: #00838f; /*cyan darken-1*/
}

#profile .section-title,
#skills .section-title,
#links .section-title {
	background-color: #006064; /*cyan darken-3*/
}

#profile-wrapper {
	position: relative;
	height: 350px;
	margin: 0 10%;
}

#profile-photo {
	float: left;
	margin-top: 1vh;
	border-radius: 15vh;
	display: inline-block;
	position: relative;
	width: 30vh;
	height: 30vh;
	background-color: grey;
	border: 5px solid white;
	background-image: url(https://avatars3.githubusercontent.com/u/7741901?s=460&v=4);
	background-size: contain;
	z-index: 1;
}

.profile-info-title {
	margin-top: 15px;
	font-family: 'Lato', sans-serif;
	opacity: 0.8;
}

.profile-info {
	font-family: 'Roboto', sans-serif;
	font-size: 150%;
}

.profile-text-wrapper {
	padding: 3vh 5vh 5vh 50vh;
}

#profile-info {
	margin-top: 2vh;
	background-color: #0097a7;
	display: inline-block;
	position: absolute;
	min-height: 28vh;
    z-index: 0;
    text-align: left;
	width: 80%;
    left: 10%;    
}

.container {
	width: 60%;
    margin-left: 20%;
    margin-top: 10px;	
    padding: 15px;
    background-color: rgba(255,255,255,0.15);
}

.container-title {
	margin-top: 0px;
	background-color: rgba(0,0,0,0.45);
	margin: -15px -15px 10px -15px;
	padding: 15px;
}

.exp-title,
.exp-company {
	font-family: 'Roboto', sans-serif;
}

.exp-img {
	border-radius: 50px;
	width: 100px;
	height: 100px;
	float: right;
	background-color: white;
	background-size: 70%;
	background-repeat: no-repeat;
	background-position: 50% 50%;
	border: 3px solid rgba(0,0,0,0);
	display: inline;
}

.exp-company {
	opacity: 0.6;
}

.exp-time {
	float: right;
	opacity: 0.9;
	font-size: 90%;
}

.exp {
	text-align: left;
	min-height: 155px;
}

#intro,
#experience,
#education {
	background-color: #00695c /*light-green darken-1*/
}

#intro .section-title,
#experience .section-title,
#education .section-title {
	background-color: #004d40;/*darken-3*/
}